@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
	font-family: 'Roboto', sans-serif;
}

.nav /*site title & 'learn more' text*/ {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 40px;
	top: 0;
	left: 0;
	right: 0;
}

a /*site title & 'learn more' link*/ {
	text-decoration: none;
	color: #0066ff;
}

span /*incident tracker text*/ {
	font-weight: 200;
}

.img-container {
	height: 70vh;
	background-image: url(/Images/955ba3e8-05fc-4c27-b8ad-e80d895f480e-amr_TXAUS-050321-elx_aus_homeless_3.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
	padding-top: 80px;
}

#filter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.counter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.data-container {
	display: flexbox;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: white;
	display: inline-block;
	flex-direction: column;
	justify-content: space-between;
	margin: 25px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.2);
	width: 90%;
	max-width: 375px;
}

.card-body {
	flex-direction: column;
	text-align: left;
	justify-content: space-between;
	width: 90%;
}
